<header class="sticky">
  <div class="col-sm col-lg-10 col-lg-offset-1">
    <h1> Kaleo Rails Engineer Candidate Interview Project</h1>
  </div>
</header>
<br />
<div class="container">
  <div class="row cols-sm-12 cols-lg-10">
    <!-- Add the extra style to make card spacing look better -->
    <div class="col-lg-offset-1 row" style="-webkit-justify-content: space-between; justify-content: space-between;">
      <div class="card">
        <h3 class="section double-padded">Users</h3>
        <p class="section double-padded"><%= @user_count %></p>
      </div>
      <div class="card">
        <h3 class="section double-padded">Questions</h3>
        <p class="section double-padded"><%= @question_count %></p>
      </div>
      <div class="card">
        <h3 class="section double-padded">Answers</h3>
        <p class="section double-padded"><%= @answer_count %></p>
      </div>
    </div>
    <div class="col-lg-offset-1 row">
      <div class="col-lg-12">
        <div class="card fluid">
          <h3 class="section double-padded">Tenants</h3>
          <p>
            <ul>
              <% @tenants.each do |tenant| %>
                <li><%= tenant.name %>: <%= tenant.req_count %></li>
              <% end %>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>